main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 50px;
    gap: 20px;
    background-color: rgb(197, 197, 197);
}

.card {
    width: calc(100% / 5 - 20px);
    background-color: aquamarine;
}

.card img {
    width: 100%;
}